<div	class="container	content">
	<div	class="row">
		<div	class="col-md-6	offset-md-3">
			<span	class="anchor"	id="formLogin"></span>
			<!-- form	card	login	with	validation	feedback	-->
		<div	class="card	card-outline-secondary">
				<div	class="card-header">
				<h3	class="mb-1">Ayudando a Papa Noel</h3>
				</div>
			<div	class="card-body">
				
			<form>
		
			<div	class="form-group">
			<label	for="nombre">Quien recibe el regalo</label>
			<input	type="text"	class="form-control"	id="persona"	placeholder="Indique el nombre de la persona..." #persona>
			</div>
					
			<div	class="form-group">
			<label	for="Imagen	Url">Que desea regalar</label>
			<input	type="text"	class="form-control"	id="regalo"	placeholder="Indique el regalo..." #regalo>
			</div>
					
			<button	type="submit"	class="btn	btn-primary" (click)="enviarregalo(persona.value,regalo.value)">Enviar Obsequio!</button>
			</form>
		
			</div>
		</div>
		</div>
	</div>
	<hr	class="mb-5">
	<div class="row row-flex">
		<app-regalo-persona *ngFor="let x of regalos"[regalo]="x"></app-regalo-persona>
	</div>
</div>


