	<div	class="card-content">
		<div	class="card-img">
			<img	src="https://placeimg.com/640/480/tech"	alt="">
			<span><h4>{{regalo.persona}}</h4></span>
		</div>
		<div	class="card-desc">
			<h3>{{regalo.regalo}}</h3>
			<p>Recordamos aquello que nos emociona. Por eso esta navidad regale talentos.</p>
			<a	href="#"	class="btn-card">Read</a>			
		</div>
	</div>
